:root {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    --boxBlue: #005cef;
    --boxRed: #ff1f25;
    --darkBlue: #003286;
    --servicesBlue: #0048bc;
    --loadingBarYellow: #ffdd18;
    --zOverlayContent: 3;
    --zContent: 2;
    --zAnimation: 1;
    --zBackground: 0;
}

.white-text {
    color: white;
}

.dark-blue-text {
    color: var(--darkBlue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* scroll-behavior: smooth; */
}

body {
    overflow-x: hidden;
}

hr {
    color: black;
    width: 100%;
    height: 7px;
    background-color: black;
}

#box-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box {
    height: 140vw;
}

.box:nth-child(even) {
    background-color: var(--boxBlue);
}

.box:nth-child(odd) {
    background-color: white;
}

#box-5 {
    background-color: var(--boxRed);
}

/* First section: Navigation and front page.*/

#nav-container {
    display: flex;
    flex-direction: column;
}

#nav-hider {
    display: block;
    z-index: var(--zContent);
    padding: 1.5rem 1.5rem;
}

#name-burger-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.8rem;
}

#site-name-container {
    flex-basis: 90%;
    justify-content: left;
}

#site-name-container h3{
    display: inline;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
}

#icon-menu-container {
    display: flex;
    flex-basis: 10%;
    justify-content: right;
    cursor: pointer;
}

#nav-menu-ul {
    position: absolute;
    width: 100%;
    margin-top: 80px;
    opacity: 0;
    padding: 0 1.5rem;
    transition: 0.5s;
    z-index: var(--zOverlayContent);
    background-color: white;
}

.nav-menu-item {
    list-style-type: none;
    text-align: left;
    font-size: 1.5rem;
    margin: .9rem 0;
}

/* Front page section */
#top-section {
    position: relative;
    margin-top: 10%;
    z-index: var(--zContent);
}

#sliding-square {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -90%;
    width: 400%;
    height: 400%;
}

#top-section p {
    font-size: 3.5rem;
    font-weight: 750;
    margin: auto 1rem;
    z-index: var(--zContent);
}

#arrow-link {
    display:flow-root;
    width:fit-content;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}

#arrow-down {
    width: auto;
    height: 70px;
    display: block;
}

/* Second section: About us */

#box-2 {
    height: 580px;
    line-height: 2rem;
}

#about {
    padding: 40px 30px;
    color: white;
}

#about p{
    margin-top: 30px;
    line-height: 1.6rem;
}

/* Third section: Our Work */
#box-3 {
    height: 620px;
}

.section3-hr {
    width: 85%;
    height: 5px;
    margin: 5% auto;
    background-color: var(--boxBlue);
}

#section3-header {
    color: var(--boxBlue);
    font-size: 2.5rem;
    margin: 55px 7% -5px;

    /* border: 3px solid red; */
}

.section3-text-and-arrow {
    display: flex;
}

.section3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 90%;
    color: var(--boxRed);
    margin: 0 7%;
    line-height: 1.8rem;
}

.section3-text-above {
    font-weight: 700;
}

.section3-arrow-container {
    flex-basis: 10%;
    justify-content: right;
    margin-right: 7%;

    transform: rotate(-90deg);
}

.section3-arrow {
    width: 25px;
    height: auto;
}

/* Section 4: Services */

#box-4 {
    height: 690px;
}

#services-container {
    padding: 2.2rem 1.5rem;
}

#services-header {
    color: white;
    font-size: 2.5rem;
}

.background-bar {
    position: relative;
    background-color: var(--servicesBlue);
    height: 40px;
    width: 100%;
    margin: 1.2rem auto;
}

.foreground-bar {
    position: absolute;
    background-color: var(--loadingBarYellow);
    height: 100%;
    z-index: 1;
}

#foreground-bar-1 {
    width: 90%;
}

#foreground-bar-2 {
    width: 80%;
}

#foreground-bar-3 {
    width: 65%;
}

#foreground-bar-4 {
    width: 50%;
}

#services-text-and-overlay-container {
    margin: 2rem auto;
}

#types-of-services-container {
    position: relative;
    text-align: justify;
    color: white;
    font-size: 1.4rem;
    line-height: 1.9rem;
    overflow: hidden;;
}

.service-text {
    cursor: pointer;
}
#overlay-border {
    overflow: hidden;
}

#service-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--servicesBlue);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

    /*TODO: implement closing feature*/
    left: -40vw;
}

#yellow-arrow-link {
    display: flex;
    justify-content: right;
    padding: 0px 11px;
}

#yellow-arrow {
    width: 26px;
    transform: rotate(90deg);
}

#service-overlay h3 {
    font-size: 1.5rem;
}

#service-overlay p {
    font-size: .9rem;
    text-align: left;
    line-height: 1.2rem;
    margin: 10px auto;
}


/* TODO: clicking a link turns transfers the .active-menu class. */
.active-menu {
    color: blue;
}

.nav-menu-item:hover{
    color: darkcyan;
}

/* @media screen and (min-width: 400px) {

} */